/* common selector start */

:root {
    --brand-color: #50B66C;
    --primary-color:  #FBFBFB;
    --Secondary-color:  #3C8D53;
    --color-white: #fff;
    --color-dark: #000;
    --border-width: 2px;
    --btn-padding: 10px 65px;
}

/*nav section start*/
.navbar{
	background: var(--primary-color);
}
.navbar .fast_button{
	background: var(--primary-color);
	color: var(--Secondary-color);
	border: var(--primary-color);
}
.navbar .fast_button:hover{
	background: var(--brand-color);
	color: var(--color-white);
	border: var(--brand-color);
}
.navbar .second_button{
	background: var(--brand-color);
	color: var(--color-white);
	border: var(--brand-color);
}
.navbar .second_button:hover{
	background: var(--Secondary-color);
	color: var(--color-white);
	border: var(--Secondary-color);
}
.nav-link{
	color: var(--color-dark);
}
.navbar .navbar-nav a:hover{
	color:var(--brand-color);
	text-decoration: underline;
}
/*nav section end */
/* header section :start */
.header_section{
	background: var(--primary-color);
}
.header_section .header_aside h1{
	font-family: Rubik, sans-serif;
	font-weight: 700;
	font-size: 52px;
}
.header_section .btn-primary,
.about_section .btn-primary{
	background: var(--brand-color);
	border: var(--brand-color);
}
.header_section .btn-primary:hover,
.about_section .btn-primary:hover{
	background: var(--Secondary-color);
}
/* header section :end */
/* service section :start */
.service_section{
	background: var(--color-white);
}
.service_section .ourServices,
.about_section .ourServices,
.defference .ourServices,
.pricing_section .ourServices,
.sevice_holder .ourServices,
.question_section .ourServices,
.footer_section .ourServices
{
	color: var(--brand-color);
}
/* service number & numbers section start */
.service_section .number_section{
	color: #917AEB;
	width: 70px;
	height: 70px;
	background: #E9E4FB;
}
.service_section .numbers_section{
	color: #51B56D;
	width: 70px;
	height: 70px;
	background: #DCF0E2;
}
.services_hover:hover {
	--bs-bg-opacity: 1;
	background-color: rgba(var(--brand-color),var(--bs-bg-opacity)) !important;
}
/* service section :end */
/* .about_section :start */
.about_section{
	background: #FBFBFB;
}
/* .about_section :end */
/* .deference_section :start */
.defference .number_section{
	color: #917AEB;
	width: 100px;
	height: 80px;
	background: #E9E4FB;
}
.defference .numbers_section{
	color: #51B56D;
	width: 100px;
	height: 80px;
	background: #DCF0E2;
}
.deference_aside:hover {
	--bs-bg-opacity: 1;
	background-color: rgba(var(--brand-color),var(--bs-bg-opacity)) !important;
}
/* .deference_section :end */
/* .pricing_section :start */

.nav-pills {
    --bs-nav-pills-border-radius: var(--bs-border-radius);
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: var(--brand-color);
}
.nav {
  --bs-nav-link-hover-color: var(--brand-color);
  --bs-nav-link-hover-background: var(--brand-color);
  list-style: none;
}
.nav-link:hover{
	background: #E0F2E5;
}
.recive_section{
	background: var(--color-white);
	margin-left: 100px;
	margin-right: 100px;
}
/* .pricing_section :end */
/* sevice_holder :start */
.sevice_holder{
	background-color: var(--primary-color);
	margin-top: 80px;
	padding-bottom: 150px;
	opacity: 1;
}
.sevice_holder .ourServices{
	margin-top: 100px;
}
.sevice_holder .ourServices_people {
	/* margin-left: 320px;
	max-width: 500px; */
}
.sevice_holder .ourServices_section{
	/* margin-left: 300px;	 */
}
.sevice_holder .holder_person{
	background: var(--color-white);
}
/* holder_name :start */
.sevice_holder a {
	color: var(--Secondary-color);

}

/* holder_name :end */
/* service_holder_navigation start */
.mix{
	display: none;
  }

/* sevice_holder :end */
/* question_section :start */
.question_section{

	background: #fffefe;

}
.question_section .address_section{
	width: 340px;
	background: #fafafa;

}
.question_section .frquently_section{
	width: 450px;
}
.question_section .dropdown_section{
	background: #fafafa;
	width: 550px;
}
.question_section a{
	color: var(--Secondary-color);
	font-size: 20px;
	font-weight: 400;

}
/* question_section :end */
/* .footer_section :start */
.footer_section a{
	text-decoration: none;
	display: flex;
	margin-top: 10px;
	font-size: 20px;
	color: var(--color-dark);
}
.footer_section .subscribe_section{
	background: #f5f4f7;
}
.footer_section .btn-outline-secondary{
	background: var(--brand-color);
	color: #fff;
	font-size: 40px;
	font-weight: 900;
}
.footer_section .turms_conditions a:hover{
	color: var(--brand-color);
}
/* .footer_section :end */