/* common selector start */

:root {
    --brand-color: #50B66C;
    --primary-color:  #FBFBFB;
    --Secondary-color:  #3C8D53;
    --color-white: #fff;
    --color-dark: #000;
    --border-width: 2px;
    --btn-padding: 10px 65px;
}

/*nav section start*/
.navbar{
	background: var(--primary-color);
}
.navbar .fast_button{
	background: var(--primary-color);
	color: var(--Secondary-color);
	border: var(--primary-color);
}
.navbar .fast_button:hover{
	background: var(--brand-color);
	color: var(--color-white);
	border: var(--brand-color);
}
.navbar .second_button{
	background: var(--brand-color);
	color: var(--color-white);
	border: var(--brand-color);
}
.navbar .second_button:hover{
	background: var(--Secondary-color);
	color: var(--color-white);
	border: var(--Secondary-color);
}
.nav-link{
	color: var(--color-dark);
}
.navbar .navbar-nav a:hover{
	color:var(--brand-color);
	text-decoration: underline;
}
/*nav section end */
/* header section :start */
.header_section{
	background: var(--primary-color);
}
.header_section .header_aside h1{
	font-family: Rubik, sans-serif;
	font-weight: 700;
	font-size: 52px;
}
.header_section .btn-primary,
.about_section .btn-primary{
	background: var(--brand-color);
	border: var(--brand-color);
}
.header_section .btn-primary:hover,
.about_section .btn-primary:hover{
	background: var(--Secondary-color);
}
/* header section :end */
/* service section :start */
.service_section{
	background: var(--color-white);
}
.service_section .ourServices,
.about_section .ourServices,
.defference .ourServices,
.pricing_section .ourServices,
.sevice_holder .ourServices{
	color: var(--brand-color);
}
/* service number & numbers section start */
.service_section .number_section{
	color: #917AEB;
	width: 70px;
	height: 70px;
	background: #E9E4FB;
}
.service_section .numbers_section{
	color: #51B56D;
	width: 70px;
	height: 70px;
	background: #DCF0E2;
}
.services_hover:hover {
	--bs-bg-opacity: 1;
	background-color: rgba(var(--brand-color),var(--bs-bg-opacity)) !important;
}
/* service section :end */
/* .about_section :start */
.about_section{
	background: #FBFBFB;
}
/* .about_section :end */
/* .deference_section :start */
.defference .number_section{
	color: #917AEB;
	width: 100px;
	height: 80px;
	background: #E9E4FB;
}
.defference .numbers_section{
	color: #51B56D;
	width: 100px;
	height: 80px;
	background: #DCF0E2;
}
.deference_aside:hover {
	--bs-bg-opacity: 1;
	background-color: rgba(var(--brand-color),var(--bs-bg-opacity)) !important;
}
/* .deference_section :end */
/* .pricing_section :start */
.pricing_section .pricing_sub_section {
	position: relative;
	height: 500px;
}
.pricing_section .recive_section {
	top: 535%;
	left: 200px;
	position: absolute;
	background:#fff;
	max-width: 70%;	
}
.pricing_section .fast_price_button{
	background: var(--brand-color);
}
.pricing_section .second_price_button:hover,
.pricing_section .third_price_button:hover {
	background: #E0F2E5;
}

/* .pricing_section :end */
/* sevice_holder :start */
.sevice_holder{
	background-color: var(--primary-color);
	margin-top: 280px;
}
.sevice_holder .ourServices{
	margin-top: 100px;
}
.sevice_holder .ourServices_people{
	margin-left: 320px;
	width: 500px;
}
.sevice_holder .ourServices_section{
	margin-left: 300px;
	
}
/* holder_name :start */
.holder_name.holder_person{
	
}

/* holder_name :end */

/* sevice_holder :end */
